<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - ProcessorApp</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm">
    <div class="container justify-content-center">
      <span class="navbar-brand mb-0 h1 text-center" style="font-weight: bold; font-size: 1.5rem;">
        👋 Welcome to Processing Bot
      </span>
    </div>
  </nav>
</header>

  <main role="main">
    @RenderBody()
  </main>

  <footer class="footer">
    <div class="container">
        <p class="mb-0">&copy; 2025 Zu Zin Ko Htun. All rights reserved. Goodbye! Have a great day 😊</p>
    </div>
  </footer>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
